// TODO: define a template called "root" here.  Also remove this comment after.
<html>
<body>
	<h3>Enter info:</h3>
	<form action="">
		<input name="info" type="text">
		<input type="submit">
	</form>
</body>
</html>
// TODO: end the template here.  Also remove this comment after.
